.container {
  height: calc(100vh - 100px);
  background-color: #d1411e;
  overflow: hidden;
  position: relative;
}

.arrowContainer {
  position: absolute;
  width: 19%;
  height: 15%;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
  z-index: 2;
  font-weight: bold;
}

.wrapper {
  margin-top: 5px;
  width: 600vw;
  height: 100%;
  display: flex;
  transition: all 1.5s ease-in-out;
}

.imgContainer {
  width: 700vw;
  height: 100%;
  position: relative;
}

@media screen and (max-width: 780px) {
  .container {
    height: 80vh;
    margin: auto auto;
  }
}

@media screen and (max-width: 480px) {
  .container {
    height: 60vh;
    margin: auto auto;
  }
}